body{
  overflow-x: hidden;
  background: #f3f7fa;
}

.App {
  background: #f3f7fa;
  width: 100vw;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
}

.content{
  background: #f3f7fa;
}

.dev-info{
  color:brown;
  font-size: 5rem;
  position: fixed;
  top: 50px;
  left: 50px
}

.app-layout{
  min-width: 750px;
  width: 60%;
  margin: 5% 20%;
  background: transparent !important;
}

.App .filters-card{
  position: sticky ;
  top: 20px;
  border-radius: 7px ; 
  box-shadow: 0px 0px 3px 1px #e9eff3 ;
}

@media (max-width: 1500px) and (min-width: 1180px) {
  .app-layout{
    width: 75%; 
    margin: 5% 12.5%;
  }
}

@media (max-width: 1180px) {
  .app-layout{
    width: 90%; 
    margin: 5% 5%;
  }
}

@media (min-width: 2000px) {
  .app-layout{
    width: 75%; 
    margin: 5% 12.5%;
  }
}

@media all and (-ms-high-contrast:none){
  .App .filters-card{  /* disable sticky for ie browser */
    position: relative ;
    top: 0;
  }
}
